PROJECT_NAME="Mshauri Kiswahili Backend"
ENVIRONMENT="development"
DEBUG=true
API_V1_STR="/api/v1"

# Database Configuration (Neon Serverless PostgreSQL or local SQLite/PG)
# Postgres — your database connection
DATABASE_URL="postgresql://neondb_owner:npg_gS8RCOhpTYK3@ep-soft-fog-b5gas5gq.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL_POOLED="postgresql://neondb_owner:npg_gS8RCOhpTYK3@ep-soft-fog-b5gas5gq-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Storage — S3-compatible object storage
AWS_ENDPOINT_URL_S3="https://br-quiet-bar-b5exz2ul.storage.c-7.us-east-2.aws.neon.tech"
AWS_ACCESS_KEY_ID="nak_live_82668baa357a482f9746f4565e009aee"
AWS_SECRET_ACCESS_KEY="nsk_live_8b1ea9c4c1c04df8b0fbb3fc99557c4c19394edec524612997ec715b31ea287d"
AWS_REGION="us-east-2"
S3_BUCKET="mshauri-kiswahili"

# Google Gemini API Key
GEMINI_API_KEY="AIzaSyDzGMRdNTzGIfywesPmqKEUa1Uo87_Z5tY"
GEMINI_MODEL="gemini-2.5-flash"
